{% extends 'bases/main.html' %}

{% block content %}

    {% include "modals/login.html" %}

    <div class="login-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Log in</h1>
    </div>
    <br>
    &nbsp;
    <form class="form-signin" method="post">
        <br>
        <label for="id_username" class="sr-only">Email address</label>
        <input type="email" name="username" id="id_username" class="form-control" placeholder="Email address" required autofocus>
        <br>
        <label for="id_password" class="sr-only">Password</label>
        <input type="password" name="password" id="id_password" class="form-control" placeholder="Password" required>
        <br>
        {% csrf_token %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
    </form>
    &nbsp;
    <div class="sign-up px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <span>Don't have an account yet? <a href="/register">Sign up</a></span>
    </div>

{% endblock %}
